<ion-header>
  <ion-navbar>
    <ion-title>Listado de proveedores</ion-title>
    <ion-buttons end> <!-- end es un atributo -->
      <button ion-button icon-only
              (click)="crearProveedor()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card text-center *ngFor="let proveedor of proveedores">
    <ion-card-header text-wrap>
      <!-- text-wrap para que se ajuste el texto a la cabecera -->
      <h2>{{proveedor.nombre}}</h2>
    </ion-card-header>
    <ion-card-content>
      <button ion-button icon-only
              (click)="verProveedor(proveedor)">
        <ion-icon name="eye"></ion-icon>
      </button>
      <button ion-button icon-only color="secondary"
              (click)="editarProveedor(proveedor)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only color="danger"
              (click)="eliminarProveedor(proveedor._id)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>

<ion-card>
  <div class="paginacion">
    
    <div *ngFor="let boton of botones">
      <button *ngIf="boton <= ( numeroBotones + 1 )" 
            ion-button 
            [ngClass]="{'btn-outline-info': boton -1 === desde / 5}"
            (click)="updateDesde(boton*5-5)">
              {{boton}}
      </button>
    </div>
    <!-- No puede haber un *ngFor y un *ngIf en la misma -->
    
  </div>
</ion-card>
<ion-card>
<div class="paginacion">
  <button ion-button
      [ngClass]="{'oculto': desde < 25}" 
      (click)="retrocederTramoBotones()">
      <ion-icon name="skip-backward"></ion-icon>
    </button>
    
    <button ion-button
      [ngClass]="{'oculto': desde >= (totales - 25)}" 
      (click)="avanzarTramoBotones()">
      <ion-icon name="skip-forward"></ion-icon>
    </button>
</div>
</ion-card>

</ion-content>